<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1 style="font-weight: bold; font-family: Monospace;">Predict Salary Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="experience" placeholder="Experience" required="required" 
        style="border-radius: 5px; height: 30px;"/>
      <input type="text" name="test_score" placeholder="Test Score" required="required" 
        style="border-radius: 5px; height: 30px;"/>
      <input type="text" name="interview_score" placeholder="Interview Score" required="required" 
        style="border-radius: 5px; height: 30px;"/>

      <button 
        style="color: black; background-color: green;
               border-radius: 5px; height: 30px; width: 80px;
               font-weight: bold;" 
        type="submit" 
        class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   <p style="color: green; font-weight: bold; font-family: Monospace; font-size: 20px;">
     {{ prediction_text }}
  </p>

 </div>


</body>
</html>
